{% extends "base.html" %}
{% block content %}

<div class="container py-5">
  <h2 class="mb-4 fw-bold text-success text-center">AyurSense Blogs</h2>
  <div class="row" id="blog-list"></div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {

  const blogList = document.getElementById("blog-list");

  const blogs = [
    {
      title: "What is Ayurveda A Beginners Guide",
      author: "Manya Thapliyal",
      date: "2025-10-22",
      image: "/static/images/ayurveda.jpg",
      snippet: "Curious about Ayurveda? Discover how this ancient science balances your body, mind, and lifestyle...........",
      slug: "what-is-ayurveda-a-beginners-guide"
    },
    {
      title: "Ayurvedic Herbs for Strong and Healthy Hair",
      author: "Dr. Mansi Sharma",
      date: "2025-10-20",
      image: "/static/images/ayurvedic_herbs.jpg",
      snippet: "Tired of hair fall and dull hair? Explore powerful Ayurvedic herbs like Amla and Bhringraj............",
      slug: "ayurvedic-herbs-for-strong-and-healthy-hair"
    },
    {
      title: "Daily Routine According to Ayurveda",
      author: "Prashant Bisht",
      date: "2025-10-18",
      image: "/static/images/daily_routine.jpg",
      snippet: "Want more energy and better health? Learn how a simple Ayurvedic daily routine can transform your day............",
      slug: "daily-routine-according-to-ayurveda"
    }
  ];

  blogs.forEach(blog => {

    const card = document.createElement("div");
    card.className = "col-md-4 mb-4";

    card.innerHTML = `
      <div class="card h-100 shadow-sm">
        
        <img src="${blog.image}" 
             class="card-img-top" 
             style="height:200px; object-fit:cover;">

        <div class="card-body d-flex flex-column">
          <h5 class="card-title fw-bold">${blog.title}</h5>

          <p class="card-text"style="font-style: italic;">${blog.snippet}</p>

          <p class="text-muted mb-2" style="font-size:0.9rem;">
            By ${blog.author} | ${blog.date}
          </p>
          
          <a href="/blog/${blog.slug}" class="btn btn-success mt-auto">
            Read More
          </a>

        </div>
        
      </div>

    `;

    blogList.appendChild(card);
  });

});

function getSnippet(content) {
  return content.split(" ").slice(0, 18).join(" ") + "...";
}
</script>

{% endblock %}